<section class="auth ">
    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="auth-card p-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-8 col-sm-10 text-center mx-auto ">
                            <img src="../../assets/imgs/4 4logo.svg" class="w-100" alt="logo">
                        </div>
                    </div>

                    <h1>Reset Password</h1>
                    <p>Now you can enter the reset code and new password.</p>

                    <form [formGroup] ="resetPasswordForm" (ngSubmit)="onResetPassword()">
                        <div class="row justify-content-center g-3 mb-3">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="input-group ">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope"></i>                            
                                    </span>
                                    <input formControlName="email"
                                    type="email" 
                                    class="form-control" 
                                    placeholder="Enter your E-mail"
                                    aria-label="email"
                                    aria-describedby="email">
                                </div>
                                <div  *ngIf="resetPasswordForm.get('email')?.errors != null && resetPasswordForm.get('email')?.touched">
                                    <p class="text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.['required']" >*Email is Required</p>
                                    <p class="text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.['email'] && resetPasswordForm.get('email')?.errors?.['pattern']" >*Please Enter a Valid Email!</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 ">
                                <div #password class="input-group ">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                                    <input formControlName="password" 
                                    type="password" class="form-control" 
                                    placeholder="Password" 
                                    aria-label="password" 
                                    aria-describedby="password" >
                                </div>
                                <div *ngIf="resetPasswordForm.get('password')?.errors != null && resetPasswordForm.get('password')?.touched">
                                    <p class="text-danger" *ngIf="resetPasswordForm.get('password')?.errors?.['required']" >*Password is Required</p>
                                    <p class="text-danger" *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']" >*Password is not correct!</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12  ">
                                <div  class="input-group ">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                                    <input formControlName="confirmPassword" 
                                    type="password" class="form-control" 
                                    placeholder="Confirm Password" 
                                    aria-label="confirmPassword" 
                                    aria-describedby="password" >
                                </div>
                                <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors != null && resetPasswordForm.get('confirmPassword')?.touched">
                                    <p class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']" >*Password Confirmation is Required</p>
                                    <p class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.getError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched">
                                        *The password and confirm Password fields do not match.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="input-group ">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-gears"></i>                                   
                                    </span>
                                    <input 
                                    formControlName="seed" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Code" 
                                    aria-label="seed" 
                                    aria-describedby="basic-addon1">
                                </div>
                                <div  *ngIf="resetPasswordForm.get('seed')?.errors != null && resetPasswordForm.get('seed')?.touched">
                                    <p class="text-danger"  *ngIf="resetPasswordForm.get('seed')?.errors?.['required']"> *Code is Required</p>
                                </div>
                            </div>
                        </div>
                        
                        <button class="primary w-100" [disabled]="(resetPasswordForm.invalid)">Done</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>