<section class="auth ">
    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="auth-card p-5">
                    <div class="row justify-content-center mb-3">
                        <div class="col-lg-8 col-md-8 col-sm-10 text-center mx-auto ">
                            <img src="../../assets/imgs/4 4logo.svg" class="w-100" alt="logo">
                        </div>
                    </div>
                    <h1>Change Your Password</h1>
                    <p> Please enter your old password and the new one.</p>

                    <form [formGroup] ="changePasswordForm" (ngSubmit)="sendChangedPassowrd()">
                        <div class="row justify-content-center g-3 mb-3">
                            <div class="col-lg-12 col-md-12 ">
                                <div  class="input-group ">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    <input formControlName="oldPassword" 
                                    type="password" class="form-control" 
                                    placeholder="Old Password" 
                                    aria-label="oldPassword" 
                                    aria-describedby="oldPassword" >
                                </div>
                                <div *ngIf="changePasswordForm.get('oldPassword')?.errors != null && changePasswordForm.get('oldPassword')?.touched">
                                    <p class="text-danger" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']" >*Old Password is Required</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12  ">
                                <div  class="input-group ">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                                    <input formControlName="newPassword" 
                                    type="password" class="form-control" 
                                    placeholder="New Password" 
                                    aria-label="newPassword" 
                                    aria-describedby="newPassword" >
                                </div>
                                <div *ngIf="changePasswordForm.get('newPassword')?.errors != null && changePasswordForm.get('newPassword')?.touched">
                                    <p class="text-danger" *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']" >*New Password is Required</p>
                                    <p class="text-danger" *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']" >*Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters.</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12  ">
                                <div  class="input-group ">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                                    <input formControlName="confirmPassword" 
                                    type="password" class="form-control" 
                                    placeholder="Confirm Password" 
                                    aria-label="confirmPassword" 
                                    aria-describedby="password" >
                                </div>
                                <div *ngIf="changePasswordForm.get('confirmPassword')?.errors != null && changePasswordForm.get('confirmPassword')?.touched">
                                    <p class="text-danger" *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']" >*Password Confirmation is Required</p>
                                    <p class="text-danger" *ngIf="changePasswordForm.get('confirmPassword')?.getError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched">
                                        *The password and confirm Password fields do not match.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <button class="primary w-100 fs-6" [disabled]="(changePasswordForm.invalid)">Done</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>