@import '../../../assets/styles/green-top-header.scss';



section{
    
    table{
        thead{
            height: 5.5rem;
            line-height: 5;
        }
        td{
            img{
                width: 2rem;
            }
        }
    }
}