<section class="auth ">
    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="auth-card p-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-8 col-sm-10 text-center mx-auto ">
                            <img src="../../assets/imgs/logo.svg" class="w-100" alt="logo">
                        </div>
                    </div>

                    <h1>Log In</h1>
                    <p>Welcome Back! Please enter your details</p>

                    <form [formGroup] ="loginForm" (ngSubmit)="onLogin(loginForm)">
                        <div class="row justify-content-center g-3 mb-3">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="input-group ">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope"></i>                            
                                    </span>
                                    <input formControlName="email"
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Enter your E-mail"
                                    aria-label="email"
                                    aria-describedby="email">
                                </div>
                                <div  *ngIf="loginForm.get('email')?.errors != null && loginForm.get('email')?.touched">
                                    <p class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']" >*Email is Required</p>
                                    <p class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.errors?.['pattern']" >*Please Enter a Valid Email!</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 ">
                                <div #password class="input-group ">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                                    <input formControlName="password" 
                                    type="password" class="form-control" 
                                    placeholder="Password" 
                                    aria-label="password" 
                                    aria-describedby="password" >
                                </div>
                                <div *ngIf="loginForm.get('password')?.errors != null && loginForm.get('password')?.touched">
                                    <p class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']" >*Password is Required</p>
                                    <p class="text-danger" *ngIf="loginForm.get('password')?.errors?.['pattern']" >*Password is not correct!</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="links mb-1">
                            <a [routerLink]="['./register']" class="text-dark-gray">Register Now</a>
                            <a [routerLink]="['./forgotpassword']" class="text-main">Forgot Password?</a>
                        </div>
                        
                        <button class="primary w-100" [disabled]="(loginForm.invalid)">Login</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>