@import '../../../styles.scss';


.animatedToggle {
    transition: all 0.3s ease-in-out ;
}
.side-margin{
    margin-left: 75px;
}



@media  (max-width: 775px){
    app-sidebar{
        display: none;
    }
    app-small-screen-navbar{
        display: flex;
    }
}
@media  (min-width: 775px){
   
    app-small-screen-navbar{
        display: none;
    }
}