@import '../../../../styles.scss';
@import '../../../../assets/styles/green-top-header.scss';

.auth-card{
   
    padding: 1rem 1.5rem;
}
.link{
    color: $text-dark-gray;

}

.fa-camera{
    height: 6rem; 
    line-height: 2.2; 
    color: #e0e6ed;
}
.input-group{
    height: 3rem;
}
